* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

body {
  background: #f6f6f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: 0 40px; */
}

.wrongInputColor:focus {
  outline: 1px solid #e93e3e;
}

.button {
  background: #60c2aa4d;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
}
input.authorization-block__form__button.button.active {
  background: #60c2aa;
  cursor: pointer;
}
/* Шапка */
header {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  padding: 16px 40px;
  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
  border-radius: 0px 0px 16px 16px;
  gap: 10px;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  position: fixed;
  left: 0;
  z-index: 9999;
  max-height: 5.9vh;
}
header .logo {
  display: flex;
}
header .nav-bar {
  display: flex;
  gap: 16px;
}
header .nav-bar .nav-bar__cell {
  padding: 4px 12px;
  cursor: pointer;
}

header .signout {
  display: flex;
}
header .signout button {
  background: none;
  border: none;
  cursor: pointer;
}

header .nav-bar .active {
  background: #60c2aa;
  border-radius: 200px;
  color: #ffffff;
}
/* Конец шапки */

/* Страница Рейтинга */
.main-rating {
  display: flex;
  height: 100vh;
  position: relative;
  width: 100%;
  top: 13.3vh;
  bottom: 7.4vh;
}

.wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.rating-block {
  display: flex;
  background: #ffffff;
  width: 53.4vw;
  min-height: 79.25vh;
  border-radius: 40px;
  padding: 32px;
  gap: 24px;
  text-align: left;
  flex-direction: column;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
}

table {
  width: 100%;
}

.rating-block__name {
  font-weight: 700;
  font-size: 24px;
  color: #373745;
}

.rating-block__table__row {
  /* display: flex; */
  padding: 4px 0px;
  gap: 16px;
  height: 48px;
  box-shadow: inset 0px -1px 0px #eeeff5;
}
.rating-block__table__row > th {
  padding: 8px;
}

.rating-block__table__row > td {
  padding: 8px;
  font-size: 1em;
}

.rating-block__table__row .win {
  color: #69b849;
}

.rating-block__table__row .lose {
  color: #e93e3e;
}
/* Конец страницы Рейтинга */

/* Страница Авторизации */
.authorization {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #e5e5e5;
  align-items: center;
  justify-content: center;
}

.authorization-block {
  display: flex;
  width: 400px;
  height: 464px;
  background: #ffffff;
  flex-direction: column;
  border-radius: 16px;
}

.authorization-block__image {
  width: 100%;
  display: flex;
  justify-content: center;

  padding-top: 40px;
}
.authorization-block__image > img {
  width: 132px;
  height: 132px;
}

.authorization-block__header {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  padding: 20px 24px;
  color: #373745;
}

.authorization-block__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 12px;
}
.authorization-block__form__input {
  padding: 12px 20px;
  gap: 8px;
  border: 1px solid #dcdcdf;
  border-radius: 12px;
  margin: 0 24px;
}

.authorization-block__form__input::placeholder {
  color: #b1b1b7;
  font-size: 1rem;
}

.authorization-block__form__button {
  padding: 12px 20px;
  gap: 8px;
  border: 1px solid #dcdcdf;
  border-radius: 12px;
  margin: 12px 24px;
}

/* Конец Страницы авторизации */

/* Игровое поле */
.main-game {
  display: flex;
  height: 100vh;
  position: relative;
  width: 100%;
  top: 5.9em;
  justify-content: space-between;
  gap: 40px;
}

.game-container {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
#game-container {
  width: 34.53vw;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
#game-board {
  --content-width: 34.53vw;
  --gutter: 4px;
  --columns: 3;
  --row-size: calc(
    (var(--content-width) - (var(--gutter) * (var(--columns) - 1))) / var(--columns)
  );
  display: grid;
  width: 100%;
  max-width: var(--content-width);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--row-size);
  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);
}

#game-board .cell {
  display: flex;
  background: #ffffff;
  justify-content: center;
  border-radius: 12px;
}
#game-board .cell > img {
  max-width: 100%;
  height: auto;
  padding: 1em;
}

#game-time {
  width: fit-content;
  padding: 24px;
  background: #ededed;
  border-radius: 12px;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #373745;
}
#game-step {
  width: 20.83vw;
  padding: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #373745;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #ffffff;
}
/* Конец игрового поля */

#subject-list {
  /* Auto layout */

  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 24px;
  width: 26vw;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 20px;
  /* position: absolute;
  top: 0;
  left: 0; */
}
#subject-list h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  color: #373745;
  margin: 0;
}

#subject-list > .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#subject-list > .container > .subject-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#subject-list .subject-name {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #373745;
}

#subject-list .subject-percent {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #898993;
}

#subject-list .subject-icon {
  width: 24px;
  height: 24px;
}

#subject-list .subject-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

/*Чат*/
#chat-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 0px;
  margin-bottom: 88px;
  gap: 20px;
  width: 21.46vw;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: #373745;
  /* position: absolute;
  bottom: 0;
  right: 0; */
}

.msgs-container {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 12px;
}

.msg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;
  max-width: 18.33vw;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}

.msg-container.other {
  align-self: flex-start;
  border-radius: 16px 16px 16px 0px;
}

.msg-container.me {
  align-self: flex-end;
  border-radius: 16px 16px 0px 16px;
}

.msg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: -webkit-fill-available;
}

.subject-name {
  font-weight: 500;
  font-size: 0.875em;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.subject-name.x {
  color: #60c2aa;
}
.subject-name.zero {
  color: #e38bac;
}

.msg-header .time {
  /* Body / 14px regular */
  font-weight: 400;
  font-size: 0.875em;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #898993;
}

.msg-interactive-elements {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 12px;
  width: -webkit-fill-available;
}

.msg-interactive-elements button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 8px;
  width: 48px;
  height: 48px;
  background: #60c2aa;
  border-radius: 12px;
  cursor: pointer;
}

.msg-interactive-elements textarea {
  resize: none;
  width: -webkit-fill-available;
  height: 48px;
  max-height: max-content;
  overflow: hidden;
  /* Textfield */

  box-sizing: border-box;

  /* Auto layout */

  padding: 12px 20px;
  gap: 8px;

  /* Gray / White */

  background: #ffffff;
  /* Gray / 100 */

  border: 1px solid #dcdcdf;
  border-radius: 12px;

  /* Body / 16px regular */
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.24px;

  color: #373745;
}
/*Конец чата*/
